h2 {
  font-size: 20px;
}
.textColor1 {
  color: #b3721d;
}
.textColor2 {
  color: #b3401d;
}
.textColor3 {
  color: #6cff0b;
}
.textColor4 {
  color: #1451c4;
}
.textColor5 {
  color: #1bc0cc;
}
.textColor6 {
  color: #b914cf;
}
.textColor7 {
  color: #4a1db3;
}
.textColor8 {
  color: #e90878;
}
